<div class="center jumbotron">

  <div class="container center mb-3">
    <%= image_tag('woody.jpg', class: "whackLogo") %>
  </div>

  <h2>Woody tracking and motivation at Harrowall</h2>
  <hr>
  <div id="problem_summary_table" class="container stats-container pl-0 pr-0 mt-3 mb-2">
    <h2 class="mb-2"><%=Problem.count%> problems</h2>
    <%#= render partial: 'users/problem_summary_table', locals: {from_where: 'home'} %>
    <%= render partial: 'users/problem_summary_home' %>
  </div>
  <hr>

  <div id="league_table" class="container leaderboard-container pl-0 pr-0 mb-4 mx-auto">
    <h4 class="mt-4 mb-2">Leaderboard</h4>
    <%= render partial: 'users/league_table', locals: {from_where: 'home', sort_applies: false} %>
  </div>
  <hr>

  <% unless logged_in? %>
  <div class="container mt-5">
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-text text-white bg-dark" %>
  </div>
  <% end %>

  <% if logged_in? %>
    <div class="container mt-3 activity-feed">
      <h4>Latest Activity</h4>
      <% if @tops_feed.any? %>
        <ol>
          <% @tops_feed.each do |top| %>
            <li>
              <div class="user d-flex mb-2">
                <%= link_to top.user.name,top.user %>

              </div>
              <div class="user d-flex mb-2">
                <%= link_to top.problem.name,top.problem %>
                <%= image_tag('checked.png', class: "climb_icon") %>
              </div>
              <div class="d-flex">
                <div class="gradecircle">
                <%= top.problem.givengrade %>
                </div>
                <div class="ratingcircle">
                <%= top.suggestedgrade %>*
                </div>
                <span class="timestamp"><%= time_ago_in_words(top.updated_at) %> ago.</span>
              </div>
            </li>
          <% end %>
        </ol>
      <% end %>
    </div>
<% end %>
</div>
