<p id="notice"><%= notice %></p>

<h1>Problems</h1>

<%= will_paginate %>

<table>
  <thead>
    <tr>
      <th><%= link_to "Name", :sort => "name" %></th>
      <th><%= link_to "GG", :sort => "givengrade" %></th>
      <th><%= link_to Set, :sort => "setter" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @problems.each do |problem| %>
      <tr>
        <td><%= problem.name %></td>
        <td><%= problem.givengrade %></td>
        <td><%= problem.setter %></td>
        
        <% if current_user.admin? %>
        <td><%= link_to 'Edit', edit_problem_path(problem) %></td>
        <td><%= link_to 'Remove', problem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
         
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user.admin? %>
<br>
<%= link_to 'New Problem', new_problem_path %>
<% end %>