<p>
  <select id="show_pages">
    <!-- https://api.rubyonrails.org/classes/ActionView/Helpers/FormOptionsHelper.html#method-i-options_for_select-->
    <!-- value, option text, selected -->
    <!-- [["SimKann", 1, {"data-showurl"=>"http://localhost:3000/leagues/1"}],
         ["MonNight", 2, {"data-showurl"=>"http://localhost:3000/leagues/2"}]],
         1 -->
    <%= options_for_select(@problems, params[:id]) %>
  </select>
</p>

<div class ="container tabcontent pl-0 pr-0 mb-3">
  <div class ="container px-1">
    <div class ="d-flex bg-light">
      <div class ="cell c-rowheader">Setter's Grade</div>
      <div class ="cell c-detail"><%= @problem.givengrade %></div>
    </div>
    <div class ="d-flex bg-light">
      <div class ="cell c-rowheader">Set By</div>
      <div class ="cell c-detail"><%= @problem.setter %></div>
    </div>
    <div class ="d-flex bg-light">
      <div class ="cell c-rowheader">My Grade</div>
      <div class ="cell c-detail"><%= @rel_user_problem&.suggestedgrade || 'n/a' %></div>
    </div>
    <div class ="d-flex bg-light">
      <div class ="cell c-rowheader">High Point</div>
      <div class ="cell c-detail"><%= @rel_user_problem&.highpoint || 'n/a' %></div>
    </div>
    <div class ="d-flex bg-light">
      <div class ="cell c-rowheader">Date High Point First Achieved</div>
      <div class ="cell c-detail"><%= @rel_user_problem&.dohp || 'n/a' %></div>
    </div>
    <div class ="d-flex bg-light">
      <div class ="cell c-rowheader">Date of First Attempt</div>
      <div class ="cell c-detail"><%= @rel_user_problem&.firsttry || 'n/a' %></div>
    </div>
    <div class ="d-flex bg-light">
      <div class ="cell c-rowheader">Rating (0-3 star)</div>
      <div class ="cell c-detail"><%= @rel_user_problem&.rating || 'n/a' %></div>
    </div>
    <div class ="d-flex bg-light">
      <div class ="cell c-rowheader">Comment</div>
      <div class ="cell c-detail"><%= @rel_user_problem&.comment || 'n/a' %></div>
    </div>

  </div>
</div>

<% if !@rel_user_problem.nil? %>
  <div><%= link_to 'Edit My Climb', edit_rel_user_problem_path(@rel_user_problem) %></div>
<% end %>

<% if current_user && current_user.admin? %>
  <div><%= link_to 'Edit Problem', edit_problem_path(@problem) %></div>
<% end %>

<div><%= link_to 'Back', problems_path %></div>

<script>
	var userSelection = document.getElementById("show_pages");

  userSelection.onchange = function(event){
    var show_url = event.target.options[event.target.selectedIndex].dataset.showurl;
    //var option = userSelection.options[userSelection.selectedIndex];
    //var show_url = option.getAttribute("data-rc");
    window.location.replace(show_url);
  };

</script>
