<div class ="container text-center my-3">

  <select id="show_pages">
    <%= options_for_select(@problems, params[:id]) %>
  </select>
</div>

<div class="d-flex navigation">
  <%= link_to 'Back', problems_path, {class: 'back'} %>
  <div class="icons">
    <% if @rel_user_problem %>
      <%= link_to image_tag('climber.png', class: "climb_icon"), edit_rel_user_problem_path(@rel_user_problem) %>
    <% end %>
    <% if current_user && current_user.admin? %>
    <span>  <%= link_to image_tag('edit.png', class: "climb_icon"), edit_problem_path(@problem) %></span>
    <% end %>
  </div>
</div>

<div class ="container pl-0 pr-0 mb-3">
  <div class ="container px-1">
    <div class ="d-flex bg-light">
      <div class ="cell c-rowheader">Set By</div>
      <div class ="cell c-detail"><%= @problem.setter %></div>
    </div>
    <div class ="d-flex bg-light">
      <div class ="cell c-rowheader">Setter's Grade</div>
      <div class ="cell c-detail"><%= @problem.givengrade %></div>
    </div>
    <div class ="d-flex bg-light">
      <div class ="cell c-rowheader">Average Grade</div>
      <div class ="cell c-detail"><%= @problem.averagegrade %></div>
    </div>
    <% if !@rel_user_problem.nil? %>
    <div class ="d-flex bg-light">
      <div class ="cell c-rowheader">My Grade</div>
      <div class ="cell c-detail"><%= @rel_user_problem&.suggestedgrade || 'n/a' %></div>
    </div>
    <div class ="d-flex bg-light">
      <div class ="cell c-rowheader">High Point</div>
      <div class ="cell c-detail"><%= @rel_user_problem&.highpoint || 'n/a' %></div>
    </div>
    <div class ="d-flex bg-light">
      <div class ="cell c-rowheader">Date of High Point</div>
      <div class ="cell c-detail"><%= @rel_user_problem&.dohp || 'n/a' %></div>
    </div>
    <div class ="d-flex bg-light">
      <div class ="cell c-rowheader">Date of First Attempt</div>
      <div class ="cell c-detail"><%= @rel_user_problem&.firsttry || 'n/a' %></div>
    </div>
    <div class ="d-flex bg-light">
      <div class ="cell c-rowheader">Rating (0-3 star)</div>
      <div class ="cell c-detail"><%= @rel_user_problem&.rating || 'n/a' %></div>
    </div>
    <div class ="d-flex bg-light">
      <div class ="cell c-rowheader">Comment</div>
      <div class ="cell c-detail"><%= @rel_user_problem&.comment || 'n/a' %></div>
    </div>
    <% end %>
  </div>
</div>

<div class="container mt-3 other-climbers">
  <h4>Climbed By</h4>
  <% if @rel_user_problems.any? %>
    <ol>
      <%= render @rel_user_problems %>
    </ol>
  <% end %>
</div>

<script>
	var userSelection = document.getElementById("show_pages");

  userSelection.onchange = function(event){
    var show_url = event.target.options[event.target.selectedIndex].dataset.showurl;
    //var option = userSelection.options[userSelection.selectedIndex];
    //var show_url = option.getAttribute("data-rc");
    window.location.replace(show_url);
  };

</script>
