<div class="forMobile d-flex bg-light sort_header">
  <div class ="cell c-colheader h-problem-name"><%= sortable(column: 'name') %></div>
  <div class ="cell c-colheader h-problem-status"><%= sortable(column: 'tops', coltitle: 'Tops') %></div>
  <div class ="cell c-colheader h-problem-status">HG</div>
  <div class ="cell c-colheader h-problem-status">TaHG</div>
  <div class ="cell c-colheader h-problem-status">WPs</div>
</div>

<div class="notForMobile">
<div class="d-flex notForMobile bg-light">
  <div class ="cell c-league-name">Name</div>
  <div class ="cell c-league-stat">Tops</div>
  <div class ="cell c-league-stat">Highest Grade</div>
  <div class ="cell c-league-stat">Tops at Highest Grade</div>
  <div class ="cell c-league-stat">Whack Points</div>
</div>
</div>
<% @users.each do |user| %>
  <%# tops = user.problems.map {|p| p.sent?(user)}.count(true) %>
  <% highest_grade = user.highest_grade %>
<div class ="d-flex bg-light">
    <div class ="cell c-league-name"><%= link_to user.name, user %></div>
    <div class ="cell c-league-stat"><%= user.topouts %></div>
    <div class ="cell c-league-stat"><%= highest_grade %></div>
    <div class ="cell c-league-stat"><%= user.sends_at_grade(highest_grade) %></div>
    <div class ="cell c-league-stat"><%= user.whack_points %></div>
</div>
<% end %>
