<% if from_where != 'home' %>
<div class="forMobile">
  <div class="d-flex bg-light sort_header">
    <div class ="cell c-colheader h-problem-status">Pos</div>
    <div class ="cell c-colheader h-problem-name"><%= sortable(column: 'name', apply: sort_applies) %></div>
    <div class ="cell c-colheader h-problem-status"><%= sortable(column: 'tops', coltitle: 'Tops', apply: sort_applies) %></div>
    <div class ="cell c-colheader h-problem-status"><%= sortable(column: 'highest_grade_topped', coltitle: 'Highs', apply: sort_applies) %></div>
    <div class ="cell c-colheader h-problem-status"><%= sortable(column: 'whack_points', coltitle: 'Points', direction: 'desc', apply: sort_applies) %></div>
  </div>
</div>

<div class="notForMobile">
<div class="d-flex bg-light">
  <div class ="cell c-league-stat">Position</div>
  <div class ="cell c-league-name">Name</div>
  <div class ="cell c-league-stat">Tops</div>
  <div class ="cell c-league-stat">Highest Grade</div>
  <div class ="cell c-league-stat">Whack Points</div>
</div>
</div>
<% @users.each do |user| %>
  <%# tops = user.problems.map {|p| p.sent?(user)}.count(true) %>
  <% highest_grade = user.highest_grade_topped %>
<div class ="d-flex bg-light">
    <div class ="cell c-league-stat"><%= @users_by_wp_position.index(user) + 1 %></div>
    <div class ="cell c-league-name"><%= link_to user.name, user %></div>
    <div class ="cell c-league-stat"><%= user.topouts %></div>
    <div class ="cell c-league-hg"><%= highest_grade %><span><%= " x".concat(user.sends_at_grade(highest_grade).to_s) unless highest_grade.nil? %></span></div>
    <div class ="cell c-league-stat"><%= user.whack_points %></div>
</div>
<% end %>

<% else %>

<% @users.each do |user| %>
  <% highest_grade = user.highest_grade_topped %>
<div class ="d-flex bg-light leaderboard">
    <div class ="cell c-league-stat"><%= @users_by_wp_position.index(user) + 1 %></div>
    <div class ="cell c-league-name"><%= link_to user.name, user %></div>
    <div class ="cell c-league-stat"><%= user.topouts %> <span class="leaderboard-tops"> tops</span></div>
    <div class ="cell c-league-stat"><span class="leaderboard-tops"><%= user.sends_at_grade(highest_grade) unless highest_grade.nil? %></span> <%= highest_grade %></div>
    <div class ="cell c-league-stat"><%= user.whack_points %></div>
</div>
<% end %>

<% end %>
