<% provide(:title, 'League Table') %>
<h2>League Table</h2>

<div class="container px-1 mb-0">


<table class="Problemtable">

  <thead>
    <tr class="forMobile">
      <th><%#= sortable "name", "Name", "Name" %> Name</th>
      <th>Tops</th>
      <th>HG</th>
      <th>TaHG</th>
      <th>WPs</th>
   </tr>

   <tr class="notForMobile">
     <th><%#= sortable "name", "Name", "Name" %> Name</th>
     <th>Projects</th>
     <th>Tops</th>
     <th>Highest Grade</th>
     <th>Tops at Highest Grade</th>
     <th>Whack Points</th>
  </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
        <% tops = user.problems.map {|p| p.sent?(user)}.count(true) %>
        <% highest_grade = user.highest_grade %>
      <tr>
        <td><%= link_to user.name, user %></td>
        <td><%= tops %></td>
        <td><%= highest_grade %></td>
        <td><%= user.sends_at_grade(highest_grade) %></td>
        <td><%= user.whack_points %></td>
      </tr>
    <% end %>

  </tbody>
</table>
    <ul class="forMobile listgroup-table pl-0">
    		<em>click underlined headings to sort:</em>
    		  <li class="listitem-table"><div class="Grey Circle"></div> HG = Highest Grade</li>
    		  <li class="listitem-table"><div class="Grey Circle"></div> TaHG = Tops at Highest Grade</li>
    		  <li class="listitem-table"><div class="Grey Circle"></div> WPs = Whack Points</li>
    </ul>
</div>
