<li id="rel_user_problem-<%= rel_user_problem.id %>">
  <div class="user d-flex">
    <%= link_to rel_user_problem.user.name, rel_user_problem.user %>
    <span class="timestamp"><%= time_ago_in_words(rel_user_problem.created_at) %> ago.</span>
  </div>
  <div class="tops mb-2">
  <%= rel_user_problem.user.topouts %> tops
  </div>
  <div class="d-flex">
    <div class="gradecircle">
    <%= rel_user_problem.suggestedgrade %>
    </div>
    <div class="ratingcircle">
    <%= rel_user_problem.rating %>*
    </div>
    <%= image_tag(status_icon(@problem.status(rel_user_problem.user)), class: "climb_icon") %>
    <span class="highpoint"><%= rel_user_problem.highpoint unless rel_user_problem.highpoint == 'top' %></span>
  </div>
  <% if !rel_user_problem.comment.blank? %>
  <div class="comment"><%= rel_user_problem.comment %></div>
  <% end %>
</li>
