<!DOCTYPE html>
<html>
  <head>

    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://kit.fontawesome.com/52a30c356b.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <%#= favicon_link_tag 'favicon.ico' %>

    <meta charset="utf-8">
    <meta name="description" content= "the wackiest fitness app ever">
    <meta property="og:title" content= "Whack by SimBed">
    <meta property="og:description" content="the whackiest climbing app ever">
    <meta property="og:type" content="website">
    <meta property="og:image" content='<%= image_url '' %>'>
    <meta property="og:image:secure_url" content='<%= image_url '' %>'>
    <meta property="og:url" content="http://harrowhack.herokuapp.com">
  </head>

 <body>
    <%= render 'layouts/header' %>
    <main>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
        <!--alternative code-->
        <%#= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </main>
  </body>
</html>
